<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='slide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>main</title>
</head>
<body>
    <nav class="navbar navbar-warning">
        <a href="/" class="navbar-brand"><img id="logo" class="img-fluid" src="{{ url_for('static',filename='imgs/tmdb_logo.png') }}" alt=""></a>
        <a href="/recommand" class="navbar-brand">
        <button class="btn" style="background:green">RECOMMED MOVIE</button>
        </a>
        <form method="POST" action="/">
          <input id="search" type="search" placeholder="Search" name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <div class="poster d-flex justify-content-center">
        <img class="img-fluid" src="{{movie.poster}}" alt="">
    </div>
<table>
    <tr style="color:white">
        <td style="color:white">Title</td>
        <td style="color:white">:</td>
        <td style="color:white">영화</td>
    </tr>
    <tr>
        <td style="color:white">Score</td>
        <td style="color:white">:</td>
        <td style="color:white">9.0</td>
    </tr>
    <tr >
        <td style="color:white">Date</td>
        <td style="color:white">:</td>
        <td style="color:white">2023-03-16</td>
    </tr>
    <tr>
        <td style="color:white">Overview</td>
        <td style="color:white">:</td>
        <td style="color:white">외우 평점이랑 안 맞는 듯</td>
    </tr>
</table>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>